.section-slider .container .section-title .heading {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -0.88px;
  font-size: 3.5rem;
}
.section-slider .swiper-slide.text-center .excerpt {
  font-size: 1.7rem;
  color: #fff;
  letter-spacing: -0.88px;
  margin-top:0;
  max-width: 1084px;
}
.section-slider .wpcf7-form-control-wrap {
 margin-right:9px;
 margin-top: 0;
}
.section-slider .wpcf7-form {
 display: flex;
 justify-content: space-between;  
 margin-bottom: 30px;
 margin-top: 20px;
}
.section-slider .layers-widget-slide-4-424 {
 background-image: linear-gradient(transparent 83%, #fff 83%);
}
.section-slider .name {
 display: flex;
 position: relative;
 height: 50px;
}
.section-slider .avesom {
display: flex;
left: 0;
top: 0;
position: absolute;
align-items: center;
justify-content: center;
color: #888;
z-index: 1000;
width: 25px;
height: 100%;
}
.section-slider .wpcf7-form-control {
  padding-left: 26px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.section-slider .wpcf7-submit {
  padding: 9px 37px;
}
